.pagination--container {
    position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
}

.pagination--hr {
    border-top: 3px solid #000;
    width: 100%;
    position: absolute;
    margin:  0px;
    left: 0;
    bottom: 40px;
}

.page--container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    /* padding-bottom: 13px; */
}

.page--container button {
    border: 0px;
    background-color: transparent;
    align-self: auto;
    font-weight: normal;
    padding: 0px 20px;
    
}

.page--container > button:hover {
    border: 2px solid #000;
    border-radius: 15px;
    color: red;
    font-weight: bolder;

}