.tasklist--container {
    position: relative;
}
.tasklist--hr {
    border-top: 3px solid #000;
    margin: 0px 12px;
    border-bottom: 15px;
}

.tasklist--tasktitle {
    margin: 20px 12px;
    font-size: 12px;
    font-weight: bold;
}

.green {
    color: rgb(89, 190, 89);
}

.tasklist--task {
    display: flex;
    justify-content: space-between;
}

.tasklist--task:hover {
    color: red;
    background-color: #ddd;
    border: 0px;
    border-radius: 10px;
}

.tasklist--buttons button {
    margin: 20px 12px;
    font-size: 12px;
    font-weight: bold;
    border: 0px;
    background-color: transparent;
}

.tasklist--buttons > button:hover {
    color: red;
}

.button--markDone {
    color: rgb(0, 205, 38)
}

